/* ========== GOOGLE FONT ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 3.5rem;

    --first-hue: 250;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219;

    /* ========== GOOGLE FONT ========== */
    --primary-color: #ffff;
    --primary-color-dark: #000;
    --second-color: #0B5351;
    --second-color-dark: #1EA896;
    --background-color: #363640;
    --background-color-transparent: #363640cb;

    --detail-color: #5cccbd;
    --detail-second-color: #96afc2;
    --grey-color-dark: #77767B;

    /* ========== FONT ========== */
    --kami-font: 'kamikaze-font', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;  
    --normal-font-size: .937rem;
    --small-font-size: .812rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /* ========== FONT WEIGHT ========== */
    --font-normal: 400;
    --font-medium: 500;    
    --font-semibold: 600;

    /* ========== Z-INDEX ========== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* ========== RESPONSIVE ========== */
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;  
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ========== BASE ========== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    color: var(--primary-color);
}

h1, h2, h3 {
    color: var(--primary-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--second-color);
}
a:hover{
    color: var(--second-color-dark);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

header.sticky {
    box-shadow: 0 2px 5px hsla(0, 0%, 4%, .3);
    background: var(--background-color);
    transition: .4s;
}

/* ========== CLASSES REUTILIZAVEIS ========== */
.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}

.section {
    justify-content: center;
    align-items: center;
    display: flex;
}

.section__title,
.section__subtitle,
.home__description {
    color: var(--primary-color-dark);
    font-weight: var(--font-medium);
    font-size: 1rem;
}

.section__title {
    font-size: var(--h2-font-size);
    color: var(--second-color-dark);
    margin-bottom: 2rem;
    text-align: center;
}

.section__title_name {
    font-size: 6rem;
    color: var(--second-color);
    margin-bottom: 1rem;
}

.section__subtitle {
    display: block;
    color: var(--primary-color-dark);
    margin-top: 2.5rem;
}

.btn {
    font-size: var(--normal-font-size);
    background-color: transparent;    
    display: inline-block;
    padding: 10px 25px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
    border: 2px solid var(--primary-color-dark);
    color: var(--primary-color-dark);
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    border: 2px solid var(--second-color-dark);
    background: var(--second-color);
    letter-spacing: 3px;
    color: var(--second-color-dark);
}

/* ========== HEADER ========== */
.header {
    width: 100%;
    background-color: var(--second-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.nav__logo-name h2 {
    font-size: var(--h2-font-size);
}

.nav__link,
.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--primary-color);
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        width: 100%;
        background: var(--second-color-dark);
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        transition: .4s;
        z-index: var(--z-fixed);
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.322);
    }
}

.nav__img {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 0;
}

.nav__close {
    font-size: 1.8rem;
    position: absolute;
    top: .5rem;
    right: .7rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav__list li a {
    position: relative;
}

.nav__link {
    text-transform: uppercase;
    font-weight: var(--font-semibold);
    transition: .4s;
}

ul li a::after {
    content: "";
    height: 2.5px;
    width: 0;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--second-color-dark);
    transition: .3s;
}

ul li a:hover::after {
    width: 100%;
}

/* Show menu */
.show-menu {
    top: 0;
}

/* ========== HOME ========== */
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    color: var(--primary-color);
}

.home__center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
    flex-wrap: wrap; 
}

.home__data__container {
    flex: 1; /* Faz com que cada div ocupe o mesmo espaço disponível */
    max-width: 50%; /* Ajuste o valor conforme necessário */
}

.home__data__container img { 
    width: 400px;
    height: 400px;
    border-radius: 35% 50% 30% 70%;
    object-fit: cover;
}

.home__container {
    row-gap: 2.5rem;
}

.home__description {
    margin-bottom: 1rem;
}

/* ========== ABOUT ========== */
.about {
    background-color: #303030;
    color: var(--primary-color);
    padding: 3rem 1rem;
    min-height: 100vh;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about__text {
    max-width: 800px;
    margin-bottom: 2rem;
}

.about__text h3 {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: var(--second-color-dark);
}

.about__text p {
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

/* ========== RESPONSIVE ========== */
@media screen and (max-width: 767px) {
    .about__content {
        flex-direction: column;
    }

    .about__text, .about__image {
        margin-bottom: 1.5rem;
    }
}

/* ========== PRODUTOS ========== */
.prod {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 2rem 1rem; 
}

.section__title_about{
    color: var(--primary-color);
    margin-bottom: 3rem;
}

.section__title_prod{
    margin-bottom: 3rem;
    color: var(--second-color);
}

.section__title_prod,
.section__title_about{
    font-size: 3rem;
    text-align: center;
}

.prod__title {
    color: var(--second-color);
    font-size: var(--biggest-font-size); 
    margin-bottom: 2rem;
    text-align: center;
}



.prod__center {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 2rem; 
    flex-wrap: wrap; 
}

.prod__content {
    position: relative;
    background: var(--primary-color);
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 85, 42, 0.397);
    transition: transform .3s ease-in-out; 
}
.prod__container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  */
    gap: 1.5rem;
    padding: 1rem;
    max-width: 1200px;
    width: 100%;
}
.prod__img {
    width: 100%;
    max-width: 300px;
    transition: transform .3s ease-in-out; 
}

.prod__subtitle,
.prod__price {
    display: block;
}

.prod__subtitle {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-5);
    color: var(--second-color);
}

.prod__title,
.prod__price {
    color: var(--primary-color-dark);
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
}

.prod__button {
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    right: -3rem;
    bottom: 0rem;
    transition: right .3s ease-in-out; 
    background-color: var(--second-color-dark);
}

.prod__icon {
    font-size: 1.25rem;
    color: var(--primary-color-dark);
}

.prod__content:hover .prod__img {
    transform: translateY(-.5rem);
}

.prod__content:hover .prod__button {
    right: 0;
}

/* ========== RESPONSIVE ========== */
@media screen and (min-width: 767px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__img,
    .nav__close,
    .nav__toggle {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__link {
        text-transform: initial;
        font-weight: initial;
    }
    .prod__container {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    }
    
    .prod__button {
        position: static;
        margin-top: 1rem;
        right: auto;
        bottom: auto;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .prod__container {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    }
    
    .prod__button {
        position: absolute;
        bottom: 0;
        right: -3rem;
    }

    .section__title {
        margin-bottom: 3.5rem;
    }
}

/* ========== BREAKPOINTS ========== */
/* Small */
@media screen and (max-width: 320px) {
    .prod__container {
        grid-template-columns: .8fr;
        justify-content: center;
    }
}

/* Media query to stack .home__data__container elements vertically below 992px */
@media screen and (max-width: 992px) {
    .section__title_name {
        font-size: 3rem;
    }

    .home__center {
        flex-direction: column; /* Empilha os elementos verticalmente */
        gap: 2rem; /* Ajusta o espaço entre os elementos conforme necessário */
    }
    
    .home__data__container {
        max-width: 100%; /* Ajusta a largura máxima para ocupar 100% do container pai */
    }
}
